@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

/* font-family: "Inter", sans-serif;
	font-family: "Lexend Deca", sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: #090b1a; */
	background-color: white;
	color: white;
	font-family: "Inter", sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content {
	background-color: #1b1938;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 70px;
}

span {
	color: #aa5cdb;
}

.main-text {
	max-width: 400px;
}

.sub-text {
	max-width: 400px;
}

.stats {
	padding-top: 50px;
}

img {
	border-radius: 0 10px 10px 0;
	height: 100%;
}
