@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Outfit',
  sans-serif;
  background-color: #0D192B;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section{
  background-color: #14253D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #14253D solid 35px;
  border-radius: 18px;
}

img{
border-radius: 18px;
max-width: 25em;
max-height: 30em;
}

.text{
  padding-top: 7%;
}

#equ{
  color: #8BACDA;
}


.amount{
  color: #00FFF7;
}
